
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: Roboto;
    margin:0;
    padding:0;
    min-height:100vh;
}


/* ****************** 
        HEADER 
**********************/
.inline-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;   
}

.header-div{
    margin:30px 50px 30px;
}
.header-a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 700;
    font-family: Montserrat;
}
.header-a:hover{
    color:rgb(37, 12, 161);
}

.header-btn{
    color: #7510F7;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    border:2px #7510F7 solid;
    border-radius: 24px;
    cursor:pointer;
    padding:8px 12px 8px 12px;
}

.header-btn:hover{
    background-color: #7510F7;;
    color:white;
}
/* topstyles */
.tp-h{
    font-family: 'Poppins', sans-serif;
    font-size:xx-larger;
    color:rgb(11, 3, 49);
}

/* //margin padding guuters */
.g-2{
    margin-right: 4px;
}

.mt{
    margin-top: 24px;
}

/* //displays */
.inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.d-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-about{
    background-color: rgb(24, 81, 238);
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header{
    margin-top:70px;
}
/* //about styles */
.about-p{
    padding:10px 100px 10px 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:100px;
    letter-spacing: 3px;
    line-height: 2rem;
    font-size: 25px;
    overflow-wrap: break-word;
}
.abt-img{
    margin-top:20px;
    margin-bottom: 50px;
}

/* //languages styling// */
.lang{
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(172, 166, 166, 0.87);
    margin:48px 70px;
    align-items: stretch;
    cursor: pointer;
}

.lang-card{
    border-right:1px solid rgb(211, 208, 208);
}

.lang-card-last{
    border-right:none;
}

.lang-card:hover, .lang-card-last:hover{
    transform: scale(0.95);
}

.lang-p{
    padding: 10px 10px 10px 10px;
    margin-right:10px;
    margin-left:10px;
    text-align: center;
    margin-bottom: 5px;
}

.card-title{
    color:black;
    font-size: larger;
}

.card-head{
    color:rgb(43, 43, 207);
    padding-top:8px;
    margin:5px 5px;
}
.card-list{
    list-style-type: none;
    margin-top: 5px;
}

/* //recent works */

.rw-head{
    color:#c9c5d3;
    font-weight: 700;
}


/* //PROJECT STYLES */
.prj-a{
    text-decoration: none;
    color: #e310cb;
    font-weight:700;
}

.prj-a:hover{
    color:deeppink;
}

.prj-mt{
    margin-top:50px;
    margin-bottom:30px;
}

.rw{
    background-color: #0d314b
}

.prj{
    display: flex;
    flex-direction: row;
    margin-right:50px;
    margin-left:50px;
}

.prj-img-holder{
    border-radius: 10px;
}

.prj-img{
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.prj-details{
    align-self: center;
    border-radius: 10px;
    text-align: center;
    height: max-content;
    color:rgb(26, 201, 201);
    font-family: monospace;
    font-size: 1.2rem;
}

.prj-p{
    padding: 5px 20px 5px 20px;
    margin:0px 0px 10px 0px;
    font-size: larger;
    line-height: 1.5;
    letter-spacing: 1.5;
}

.prj-h{
    margin-bottom: 0;
    text-transform: uppercase;
}

/*******************
    PROJECT TWO 
 ********************/
.prj-2{
    flex-direction: row-reverse;
}

.prj-img-2{
    border-radius: 10px;
    cursor: pointer;
}

.prj-img-2:hover, .prj-img:hover{
    transform: scale(1.01);
}

.prj-details-2{
    align-self: center;
    text-align: start;
    word-wrap: break-word;
    color: rgb(26, 201, 201);
    font-family: monospace;
    font-size: 1.2rem;
}

.prj-h-2{
    margin-bottom: 4px;
    padding-left:20px;
    text-transform: uppercase;
}

.prj-details-3{
    align-self:center;
    text-align: end;
    word-wrap: break-word;
    color:rgb(26, 221, 235);
    font-family:monospace;
    font-size:1.2rem
}

.prj-h3{
    margin-bottom: 4px;
    padding-right:20px;
}

/*******************************
 START A PROJECT 
 *******************************/
.start-project{
    padding:20px 150px 20px 150px;
    word-wrap: break-word;
    border-bottom: 0.5px rgb(13, 142, 228) solid;}

.start-project-p{
    text-align: center;
    padding: 50px 150px 50px 150px; 
    color: bisque;
    font-family: monospace;
    font-weight: 300;
    letter-spacing: 1.5;
    line-height: 1.5;
    font-size:1.5rem
}
.start-project-a{
    border:2px solid #7510F7;
    border-radius: 24px;
    padding:8px 12px 8px 12px;
    text-decoration: none;
    font-size:1.5rem;
    color: wheat;
    background-color: inherit;
}
.start-project-a:hover{
    background-color: #7510F7;
    color:white
}

/* ******************************
        FOOTER
*********************************/
footer{
    background-color: rgb(0, 30, 60);
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color:white;
    transform: scale(1.02);
}
footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li{
    margin:5px 5px;
    padding:30px;
    font-size: 2.5rem;
}

footer h2{
    font-size: 2rem;
    color:whitesmoke;
    padding-top: 24px;
    font-family: monospace;
}


/* @media only screen and (max-device-width:480px ) and (min-device-width:320px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    html{
        width:100%
    }

    .inline{
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }
    
    .lang{
        margin:auto 12px;
        margin-top:24px;
    }
    .lang-card{
        border-right: none;
        text-align:center;
        margin-top:12px;
        border-bottom: 1px solid rgb(211, 208, 208);
    }

    .lang-card-last{
        border-right: none;
        text-align:center;
        margin-top:12px;
        border-bottom: 1px solid rgb(211, 208, 208);
   
    }
    .prj-img-holder{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .prj{
        display: flex;
        flex-direction: column;
        margin-right:0px;
        margin-left:0px
    }

    .prj-img{
        height:200px;
        width:350px;
    } 
} */